.csBody {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

td > input:nth-child(1) {
    width: 30%;
}

.wrapper {
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 49vw;
    height: 98vh;
    overflow: auto;
    border: 1px solid black;
    background-color: white;
}

.wrapper form{
    margin: 0;
}

.wrapper h1, .wrapper h2 {
    margin: 0;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
}


.program > h1:nth-child(1) {
    position: relative;
    top: -10px;
}

.wrapper h1 {
    text-decoration: none;
}

.wrapper h2 {
    padding-top: 0;
    font-size: 18px;
}

.wrapper h1 {
    font-weight: 800;
}


.wrapper table {
    width: 100%;
    border-collapse: collapse;
}
.wrapper th{
   text-align: left;
    padding-left: 10px;
}
th:nth-child(1){
    width: 80%;
}
th:nth-child(2){
    width: 5%;
}
th:nth-child(3){
    width: 15%;
}
.wrapper td {
    text-align: left;
    /*border-top: 1px solid black;*/
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.wrapper tr {
    border-top: 1px solid black;
}

.wrapper input[type=number] {
    width: 40px;
}

.wrapper .title {
    background-color: white;
}

 .wrapper .program, .wrapper .req {
    border-top: 3px solid black;
}

 .wrapper select {
    display: inline;
}

 .wrapper .tooltip {
    background-color: #dddddd;
    padding: 5px;
    cursor: pointer;
}

 div.program {
    background-color: #ffffff;
}

 textarea {
     display: block;
     border-radius: 5px;
     height: 300px;
     margin: 10px;
     padding: 5px;
     width: calc(100% - 40px);
     max-width: calc(100% - 40px);
     font-family: sans-serif;
 }

 .narrow{
     margin: 10px;
     width: 50%;
 }

 #records {
     background-color: #dddddd;
     margin: 10px;
     border-radius: 5px;
 }

 .record {
     border-radius: 5px;
     background-color: white;
     margin: 10px;
     padding: 5px;
 }

 /* class given to buttons to roll back old advisement state */
 .rollback {
    cursor: pointer;
 }

 .notes{
     background-color: white;
     border-radius: 5px;
     margin: 10px;
     padding: 10px;
     text-align: left;
 }

 p {
     margin-top: 0;
     text-align: left;
     /*margin-left: 10px;*/
 }

 .record p:last-child {
    margin-bottom: 0;
 }

 /* header for notes */
 h3 {
     text-align: left;
     margin-bottom: 0;
     margin-top: 0;
     margin-left: 10px;
 }

/*give dates the same margins as everything else*/
#edit-dates {
    margin: 10px;
    margin-bottom: 40px;
}

hr {
    height: 3px !important;
    border: none;
    border-radius: 1px;
    background-color: black;
    color: black;
    display: block;
    margin: 10px;
}

#edit-dates {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#edit-dates p:last-child{
    margin-bottom: 0;
}

/*Sacony tint through shade*/
/*.section {*/
/*    background-color: #87CBD8;*/
/*    padding: 15px;*/
/*    border-radius: 5px;*/
/*}*/

/*.section .section {*/
/*    background-color: #43859A;*/
/*}*/

/*.section .section .section {*/
/*    background-color: #00405A;*/
/*    color: white;*/
/*}*/
/*.section .section .section .contents {*/
/*    color: black;*/
/*}*/

/*Roar tint through shade*/
/*.section {*/
/*    background-color: #F1C382;*/

/*    padding: 15px;*/
/*    border-radius: 5px;*/
/*}*/

/*.section .section {*/
/*    background-color: #FF9E19;*/
/*}*/

/*.section .section .section {*/
/*    background-color: #D57800;*/
/*    color: white;*/
/*}*/
/*.section .section .section .contents {*/
/*    color: black;*/
/*}*/

/*!*Reed tint through shade*!*/
/*.section {*/
/*    background-color: #E17662;*/
/*    padding: 15px;*/
/*    border-radius: 5px;*/
/*}*/

/*.section .section {*/
/*    background-color: #DD5143;*/
/*}*/

/*.section .section .section {*/
/*    background-color: #C43A31;*/
/*    color: white;*/
/*}*/
/*.section .section .section .contents {*/
/*    color: black;*/
/*}*/

/*Foundation tint through shade*/
.section {
    background-color: rgb(206, 199, 191);
    padding: 15px;
    border-radius: 5px;
}

.section .section {
    background-color: #ACA59C;
}

.section .section .section {
    background-color: #6C6054;
    color: white;
}
.section .section .section .contents {
    color: black;
}

.contents {
    background-color: white;
    border-radius: 5px;
}

h1 {
    background-color: #dddddd;
}

.section > h1 {
    background-color: inherit;
}


@media screen {
	p.bodyText {font-family:verdana, arial, sans-serif;}
}

@media print {
    *{color: red !important }
    .narrow{ display: none }
    /*.wrapper select{ display: none }*/
    p.bodyText {font-family:georgia, times, serif;}


@media screen, print {
	p.bodyText {font-size:12pt}
}
