.csBody {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.wrapper {
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 45vw;
    height: 98vh;
    overflow: auto;
    border: 1px solid black;
    background-color: white;
}

.wrapper form{
    margin: 0;
}

.wrapper h1, .wrapper h2 {
    margin: 0;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
}

.wrapper h1 {
    font-weight: 800;
}

.wrapper h2 {
    font-style: italic;
}

.wrapper table {
    width: 100%;
    border-collapse: collapse;
}
.wrapper td {
    text-align: left;
    /*border-top: 1px solid black;*/
    padding: 10px;
}
.wrapper tr {
    border-top: 1px solid black;
}

.wrapper input[type=number] {
    width: 40px;
}

.wrapper .title {
    background-color: white;
    font-size: 1.5em;
}

 #wrapper .program, #wrapper .req {
    border: 1px solid black;
}

 #wrapper select {
    display: inline;
}

 #wrapper .tooltip {
    background-color: #dddddd;
    padding: 5px;
    cursor: pointer;
}

 div.program {
    background-color: #ffffff;
}

 textarea {
     display: block;
     border-radius: 5px;
     height: 300px;
     margin: 10px;
     padding: 5px;
     width: calc(100% - 40px);
     max-width: calc(100% - 40px);
     font-size: .95em;
     font-family: sans-serif;
 }

 .narrow{
     margin: 10px;
     width: 50%;
 }

 #records {
     background-color: #dddddd;
     margin: 10px;
     border-radius: 5px;
 }

 .record {
     border-radius: 5px;
     background-color: white;
     margin: 10px;
     padding: 5px;
 }

 /* class given to buttons to roll back old advisement state */
 .rollback {
    cursor: pointer;
 }

 .notes{
     background-color: white;
     border-radius: 5px;
     margin: 10px;
     padding: 10px;
     text-align: left;
 }

 p {
     margin-top: 0;
     text-align: left;
     /*margin-left: 10px;*/
 }

 .record p:last-child {
    margin-bottom: 0;
 }

 /* header for notes */
 h3 {
     text-align: left;
     margin-bottom: 0;
     margin-top: 0;
     margin-left: 10px;
 }

/*give dates the same margins as everything else*/
#edit-dates {
    margin: 10px;
    margin-bottom: 40px;
}

hr {
    height: 3px !important;
    border: none;
    border-radius: 1px;
    background-color: black;
    color: black;
    display: block;
    margin: 10px;
}

#edit-dates {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#edit-dates p:last-child{
    margin-bottom: 0;
}

.section {
    background-color: #87CBD8;
    padding: 15px;
    border-radius: 5px;
}

.section .section {
    background-color: #43859A;
}

.section .section .section {
    background-color: #00405A;
    color: white;
}
.section .section .section .contents {
    color: black;
}

.contents {
    background-color: white;
    border-radius: 5px;
}

.section h1 {
    background-color: inherit;
}

