.csBody {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

#wrapper div {
    padding: 0;
    margin: 30px;
}

#wrapper {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

#wrapper h1, #wrapper h2 {
    margin: 0;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
    max-width: 30vw;
}

#wrapper h1 {
    font-weight: 800;
}

#wrapper h2 {
    font-size: 1.1em;
    font-style: italic;
}

#wrapper table {
    width: 30vw;
    border-collapse: collapse;
}
 #wrapper td {
    text-align: left;
    /*border-top: 1px solid black;*/
    padding: 10px;
}
 #wrapper tr {
    border-top: 1px solid black;
}

 #wrapper input[type=number] {
    width: 40px;
}

 #wrapper #notes {
    width: 100%;
    border: none;
}

 .notes {
    width: calc(50% - 40px);
    height: calc(40vh - 40px);
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

 #wrapper .title {
    background-color: white;
    font-size: 2.6em;
}

 #wrapper .program, #wrapper .req {
    border: 1px solid black;
}

 #wrapper select {
    display: inline;
}

 #wrapper .tooltip {
    background-color: #dddddd;
    padding: 5px;
    cursor: pointer;
}

 div.program {
    background-color: #ffffff;
}
