/* Colors
White -   #FFFFFF
Black -   #000000
Maroon -  #6D1932
Yellow -  #F7CA32
Gold -    #B2A56D
Green -   #71D845
*/

/* General Styling */

body {
  background-color: #6D1932;
  color: #000000;
}

body>h1 {
  color: #F7CA32;
}

a {
  color: #6D1932;
}

main {
  background-color: #B2A56D;
  border-style: double;
  border-color: #FFFFFF;
  border-width: 7px;
  border-radius: 10px;
  padding: 20px;
  min-height: 90%;
}

.half {
  background-color: #B2A56D;
}

form {
  margin: 10px;
}



/* Buttons */
:not(h6)>a {
  background-color: #F7CA32;
  padding: 10px;
  margin: 5px 0px;
  border-style: solid;
  border-color: #6D1932;
  border-width: 1px;
  border-radius: 3px;
  display: inline-block;
  text-decoration-line: none;
}

:not(h6)>a:hover {
  background-color: #FFD63B;
}

p>a {
  margin: 0px;
}

/* Student List */
.student {
  font-size: 1.5em;
  margin: 0px 10px;
}

.student * {
  margin: 5px;
  font-weight: normal;
}
