{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Account</h1>
    Hi {{ user.username }}!
    <p><i>Please select an option below to get started:</i></p>
    <p><a href="{% url 'adv_home' %}">Advisement System</a></p>
    <p><a href= /accounts/password %">Change Password</a> </p>
    <br>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <h2><u>Welcome to the Faculty Support System!</u></h2>
    <p>You are not yet logged in.</p>
    <p><a href="{% url 'login' %}">Log In</a></p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
{% endblock %}
