{% extends 'base.html' %}

{% block title %}Advisment{% endblock %}

{% block content %}

    <p>Hi {{ user.username }}! Welcome to the advisment system.</p>

    <div class="button"><a href="./add_advisee/">Edit your students. </a></div>

    <h1>Your students</h1>
    {% for student in students %}
        <div class="students">
            <div class="student">
                <h6>{{ student }} - <a href="{% url 'overview' student.pk %}">Overview</a></h6>
            </div>
        </div>
    {% endfor %}
{% endblock %}
