{% extends 'base.html' %}

{% block title %}Advisment{% endblock %}

{% block content %}

    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>

    <hr>

    {%  if faculty.can_upload_checksheets %}
        <div>
        <a href="{% url 'list_checksheets' %}">Manage checksheets</a>
        </div>
    {% endif %}

    {%  if faculty.can_add_students %}
        <div>
        <a href="{% url 'add_students' %}">Add students</a>
        </div>
    {% endif %}

    {%  if faculty.can_assign_students %}
        <div>
        <a href="{% url 'advisee_list' %}">Edit Student Assignments</a>
        </div>
    {% endif %}

    <hr>

    {%  if faculty.can_advise %}
        <h1>Your students</h1>

        <table class="students">
            <tr>
                <th>Name</th>
                <th>Advisors</th>
                <th></th>
                <th></th>
            </tr>
            {% for pair in student_adv_pairs %}
                <tr>
                    <td>{{ pair.0.name }}</td>
                    <td>{{ pair.2}}</td>
                    <td>
                        {% if pair.1 %}
                            <a class="plain" href="{% url "view_advisement" pair.1.pk %}">view most recent advisement session</a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="plain" href="{% url "add_advisement" pair.0.pk %}">add new advisement session</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}
