body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

div {
    padding: 0;
    margin: 30px;
}

#wrapper {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

h1, h2 {
    margin: 0;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
    max-width: 30vw;
}

h1 {
    font-weight: 800;
}

h2 {
    font-size: 1.1em;
    font-style: italic;
}

table {
    width: 30vw;
}
td {
    text-align: left;
    border-top: 1px solid black;
    padding: 10px;
}

input[type=number] {
    width: 40px;
}

#notes {
    width: 100%;
    border: none;
}

textarea {
    width: calc(50% - 40px);
    height: calc(40vh - 40px);
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.title {
    background-color: white;
    font-size: 2.6em;
}

.program, .req {
    border: 1px solid black;
}

